.env
An Inclusive and Adaptive AI-Powered Learning Platform for Specially Abled Students Using Multimodal Interfaces.pdf
A Synopsis.docx
extract_text.py
extracted_docs.txt
Innoveda-26 paper template.docx.pdf
download_fonts.py
ml-service/venv
